	<header>
		<div class="header_title_box">
			<p class="title">Formulários pendentes</ht>
		</div>
		<div class="header_action_box">
				<a href="/">Início...</a> |      
				<a href="/form/novo_paciente/n_pac">Novo paciente...</a> |
				<a href="/view/listar/pacientes">Listar pacientes...</a> |        
				<a href="/view/sobre/nfo">Sobre... </a>
		</div>
	</header>


<div class="page_nfo">
  <table>
      <thead style="font-weight: bold;">
       <tr>
            <td style="width: 110px">Paciente</td>
            <td style="width: 400px">Formulário pendente</td>
      </tr>
      </thead>
  {{#each pacientes}}
        <tr>
            <td><a href="/view/paciente/{{this.identificador}}">{{this.nome}}</a></td>
            <td><a href="/form/{{subpagina}}/{{this.identificador}}">{{this.tipo_formulario}}</a></td>
        </tr>
  {{/each}}
  </table>
</div> 